<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace는 Mapper 인터페이스와 같은 이름으로 해야 자동 병합 처리된다. -->
<mapper namespace="com.newvisioneng.mapper.BusinessMapper">
	<!-- 사업실적 목록 불러오기 -->
	<select id="getBusinessList" resultType="com.newvisioneng.domain.BusinessDTO">
		SELECT * FROM NV_BUSINESS_RESULT WHERE RESULTCLASS = #{resultClass} ORDER BY RESULTNUM DESC LIMIT #{pageStart},#{pageSize}
	</select>
	<select id="getBusinessTotal" resultType="_int">
		SELECT COUNT(*) FROM NV_BUSINESS_RESULT WHERE RESULTCLASS = #{resultClass} and RESULTNUM>0
	</select>
	<insert id="insertBusinessResult">
		INSERT INTO NV_BUSINESS_RESULT(RESULTCLASS,RESULTCONTNENTS) 
		VALUES (#{resultClass},#{resultContnents})
	</insert>
	<update id="updateBusinessResult">
		UPDATE NV_BUSINESS_RESULT SET RESULTCLASS = #{resultClass},
		RESULTCONTNENTS= #{resultContnents} WHERE RESULTNUM = #{resultNum}
	</update>
	<delete id="deleteBusinessResult">
		DELETE FROM NV_BUSINESS_RESULT WHERE RESULTNUM = #{resultNum}
	</delete>
	
	<update id="updateMainBusinessResult">
		UPDATE NV_BUSINESS_RESULT SET SHOW_MAINPAGE = 1, IMGNAME= #{fileName}
		WHERE RESULTNUM = #{resultNum}
	</update>
	<select id="getMainImgName" resultType="string">
		SELECT IMGNAME FROM NV_BUSINESS_RESULT  WHERE RESULTNUM = #{resultNum}
	</select>
	
	<!-- 메인등록된 사업실적 목록 불러오기 -->
	<select id="getMainBusinessList" resultType="com.newvisioneng.domain.BusinessDTO">
		SELECT * FROM NV_BUSINESS_RESULT WHERE SHOW_MAINPAGE = 1
	</select>
	<update id="updateNotMainBusinessResult">
		UPDATE NV_BUSINESS_RESULT SET SHOW_MAINPAGE = 0, IMGNAME = NULL
		WHERE RESULTNUM = #{resultNum}
	</update>
</mapper>












