<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newvisioneng.mapper.CompanyMapper">

	<!-- 스프링에서 resultType이 특정 객체일때에는 AS대신 직접 경로를 작성하는 것이 가독성이 좋다. -->
 	<select id="getNewsList" resultType="com.newvisioneng.domain.NewsVO">
		<!-- 마이바티스에서 >를 닫는 태그로 인식하기 때문에 CDATA를 넣어줘야함 ^^ -->
		<![CDATA[
		SELECT * FROM NV_NEWS WHERE NEWSNUM > 0
		]]>
	</select>
	

 	<insert id="news_register">
		INSERT INTO NV_NEWS (NEWSWRITER, NEWSTITLE, NEWSCONTENTS, NEWSDATE)
		VALUES(#{newsWriter}, #{newsTitle}, #{newsContents}, now())
	</insert>
	
	<select id="news_read" resultType="com.newvisioneng.domain.NewsVO">
		<![CDATA[
		SELECT * FROM NV_NEWS WHERE NEWSNUM = #{newsNum}
		]]>
	</select>
	
	<delete id="news_delete">
		DELETE FROM NV_NEWS WHERE NEWSNUM = #{newsNum}
	</delete>
	
	<update id="update">
		UPDATE NV_NEWS
		SET NEWSTITLE = #{newsTitle},
		NEWSCONTENTS = #{newsContents},
		NEWSWRITER = #{newsWriter}, 
		WHERE BNO = #{bno}
	</update>
</mapper>